section#team.featured-spotlight
  #team--fade.container.related-items.clear
    h1.centered #{ public._data.team.title }
    .related-items__section.clear
      ul.list-guides-intro.list-centered.list--reset.clear
        li.g-medium--1.g-wide--2.theme
          p.medium
            img.team--person(src="#{ site.image }team/jose.png")
            h3 #{ public._data.team.member.jose }
        li.g-medium--1.g-wide--2.g--last
          p.medium
            img.team--person(src="#{ site.image }team/jeff.png")
            h3 #{ public._data.team.member.jeff }
        li.g--third
          p.medium
            img.team--person(src="#{ site.image }team/thomas.png")
            h3 #{ public._data.team.member.thomas }
        li.g--third
          p.medium
            img.team--person(src="#{ site.image }team/patrick.png")
            h3 #{ public._data.team.member.patrick }
        li.g--third.g--last
          p.medium
            img.team--person(src="#{ site.image }team/cesar.png")
            h3 #{ public._data.team.member.cesar }
